//  ============================================================
//  Name:               Home
//  Description:        Styles for home page
//
//  Component:          `#{$prefix}-home-wrapper`
//                      `#{$prefix}-home-copyright`
//
//  ============================================================

//  ============================================================
//  Variables
//  ============================================================

$home-width:                            1200px !default;



/* ============================================================
    Page: Home
   ============================================================ */

/**
 * 1. Set the width of the wrapper
 * 2. Make the content horizontal center
 */
.#{$prefix}-home-wrapper {
    /* 1 */
    width: $home-width;

    /* 2 */
    margin: 0 auto;
}
